// VARIABLE
$primary-white: #f1f1f1;
$background: #2c3e50;
$primary-color: #4a90e2;
$second-color: #ffc72c;

// RESET
*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

// GENERAL

body {
  background: $background;
  display: grid;
  grid-template-rows: 100px 250px 1fr;
  color: $primary-white;
}

hr {
  border: 2px solid $second-color;
}

// HEADER

header {
  grid-template-rows: 1 / 2;
  text-align: center;
  font-size: 2.5rem;
  background: $primary-color;
  color: $second-color;
}

// Input

.input-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.4rem;
  margin: 25px;
  grid-template-rows: 2/ 3;
  input {
    font-size: 1.4rem;
    width: 60%;
    margin: 15px;
    text-align: center;
    box-shadow: 5px 3px 10px #000;
    border: none;
    transition: transform 0.5s;
    &:focus {
      border: none;
      outline: none;
      transform: scale(1.1);
    }
  }

  // Button

  #my-btn {
    padding: 10px;
    margin: 10px;
    border-radius: 999px;
    border: none;
    box-shadow: 5px 5px 15px #666;
    background: $primary-color;
    color: $second-color;
    font-size: 1.2rem;
    transition: transform 0.5s;
    &:hover {
      transform: scale(1.1);
      box-shadow: 5px 10px 15px #666;
    }
  }
}

// Weather

.container-weather {
  margin: 50px auto;
}

.weather-div {
  text-align: center;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 100px 10px;
  color: #000;
  h2 {
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translate(-50%, 0);
    font-size: 1.4rem;
    color: $primary-white;
  }

  h3 {
    text-decoration: underline;
  }

  h4 {
    margin: 10px;
  }

  .weather {
    text-align: center;
    margin: 10px 0px;
    padding: 25px;
    border: 3px solid $primary-color;
    background: $second-color;
  }

  .delete-btn {
    width: 25px;
    height: 25px;
    position: absolute;
    top: -25px;
    right: 0;
    cursor: pointer;
  }

  #weather-icon {
    width: 50px;
    height: 50px;
  }
}
// Responsive

@media screen and (min-width: 550px) {
  .input-div {
    input {
      width: 20%;
    }
  }
}

@media screen and (min-width: 750px) {
  .container-weather {
    display: flex;
    flex-direction: row;
  }
}
