// VARIABLE
$primary-white: #f1f1f1;
$background: #2c3e50;
$primary-color: #4a90e2;
$second-color: #ffc72c;

// RESET
*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

// GENERAL

body {
  background: $background;
  display: grid;
  grid-template-rows: 100px 250px 1fr;
  color: $primary-white;
}

hr {
  border: 2px solid $second-color;
}

// HEADER

header {
  grid-template-rows: 1 / 2;
  text-align: center;
  font-size: 2.5rem;
  background: $primary-color;
  color: $second-color;
}

// Input

.input-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.4rem;
  margin: 25px;
  grid-template-rows: 2/ 3;
  input {
    font-size: 1.4rem;
    width: 60%;
    margin: 15px;
    text-align: center;
    box-shadow: 5px 3px 10px #000;
    border: none;
    transition: transform 0.5s;
    &:focus {
      border: none;
      outline: none;
      transform: scale(1.1);
    }
  }

  // Button

  #my-btn {
    padding: 10px;
    margin: 10px;
    border-radius: 999px;
    border: none;
    box-shadow: 5px 5px 15px #666;
    background: $primary-color;
    color: $second-color;
    font-size: 1.2rem;
    transition: transform 0.5s;
    &:hover {
      transform: scale(1.1);
      box-shadow: 5px 10px 15px #666;
    }
  }
}

// Weather

.container-weather {
  margin: 0px auto;
  display: grid;
  grid-template-columns: 1fr;
}

.weather-div {
  text-align: center;
  position: relative;
  margin: 100px 50px;
  color: #000;
  flex-direction: column;
  h2 {
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translate(-50%, 0);
    font-size: 1.4rem;
    color: $primary-white;
  }

  h3 {
    text-decoration: underline;
  }

  .container-day {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 400px 1fr;
    .weather:nth-of-type(1) {
      grid-column: 1 / -1;
      grid-row: 1 / 2;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      h3 {
        position: absolute;
        left: 50%;
        top: 5%;
        transform: translate(-50%, -50%);
      }
    }
    .weather:not(:nth-of-type(1)) {
      font-size: 0.8rem;
      grid-row: 2/3;
      display: flex;
      flex-direction: column;
    }
    .weather:nth-of-type(2) {
      grid-column: 1/ 2;
    }
    .weather:nth-of-type(3) {
      grid-column: 2 / 3;
    }
    .weather:nth-of-type(4) {
      grid-column: 3/ 4;
    }
    .weather:nth-of-type(5) {
      grid-column: 4 /5;
    }
    .weather {
      flex-wrap: wrap;
      text-align: center;
      margin: 10px 10px;
      padding: 25px;
      border: 3px solid $primary-color;
      background: $second-color;
      position: relative;
    }

    p {
      grid-row: 2 / -1;
      margin-top: 10px;
      white-space: pre;
    }
  }
  .delete-btn {
    width: 25px;
    height: 25px;
    position: absolute;
    top: -25px;
    right: 0;
    cursor: pointer;
  }

  #weather-icon {
    width: 50px;
    height: 50px;
  }
}

// Responsive

@media screen and (min-width: 550px) {
  .input-div {
    input {
      width: 20%;
    }
  }
}

@media screen and (min-width: 750px) {
  .container-weather {
    display: flex;
    flex-direction: row;
  }
}
